---
layout: home
author_profile: true
tagline: "Your Clear Path to **Becoming a Successful**, Learn through online classess and guided Roadmaps. Level up your skill and jumpstart your career"
header:
  overlay_image: "/assets/images/welcome-pages.jpg"
  overlay_filter: 0.5
  caption: "Tutorial & Dokumentasi: Programming, DevOps, GitOps, Database, & Servers"
  actions:
    - label: "Start learning"
      url: https://www.udemy.com/user/dimas-maryanto-2
pagination:
    enabled: false
classes: wide
feature_row:
  - image_path: assets/images/features/group-tanya-jawab.png
    alt: "tanya-jawab"
    title: "Janya jawab berserta member lainnya"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: assets/images/features/menarik.png
    alt: "materi-terupdate"
    title: "Materi terlengkap & up-to-date"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: assets/images/features/online-meet.png
    title: "Online meet"
    alt: "online-meet"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_roadmap:
  - image_path: assets/images/features/roadmap.png
    alt: "Journey your career path"
    title: "Journey your career path"
    excerpt: "Wouldnt it be nice if someone gave you a full and clear path to go from where you are to being a kickass **developer**? How about if every step of the way had clear, detailed and job-oriented online courses? How about if those courses also came with hands-on assignments that you can use to practice and develop confidence? You've come to the right place!"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn-primary"
feature_hands-on:
  - image_path: assets/images/features/tugas.png
    alt: "assignments"
    title: "Coding assignments"
    excerpt: 'Watching video tutorials is just the beginning. Get hands-on assignments with course videos that allow you to actually apply and implement what is being taught in the course material. This is active learning! the key is **Watch. Learn. Do. Learn.**'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn-primary"
---


{% include feature_row id="feature_roadmap" type="left" %}

{% include feature_row id="feature_hands-on" type="right" %}

{% include feature_row id="feature_row" %}

</br>