---
layout: home
author_profile: true
tagline: "Your Clear Path to **Becoming a Successful**, Learn through online classess and guided Roadmaps. Level up your skill and jumpstart your career"
header:
  overlay_image: "/assets/images/welcome-pages.jpg"
  overlay_filter: 0.7
  caption: "Tutorial & Dokumentasi: Programming, DevOps, GitOps, Database, & Servers"
  actions:
    - label: "Start learning"
      url: "https://www.udemy.com/user/dimas-maryanto-2"
pagination:
    enabled: false
classes: wide
feature_row:
  - image_path: assets/images/features/group-tanya-jawab.png
    alt: "tanya-jawab"
    title: "Group tanya-jawab"
    excerpt: "Pada saat pertama kali menggunakan suatu teknologi temen-temen sering merasa binggung? atau bahkan begitu mencoba terjadi error (iya khan?). \n\nNah disini pentingnya bertanya ke komunitas/instruktur, ada pepatah **malu bertanya tersesat dijalan** setuju gak?.\n\n**Temen-temen boleh bertanya apapun** mulai dari jenjang karir, troubleshooting jika terjadi error, saran dan lain-lain. :)"
  - image_path: assets/images/features/menarik.png
    alt: "materi-terupdate"
    title: "Materi Lengkap & Terkini"
    excerpt: "Perkembangan suatu teknology sangatlah cepat, alangkah baiknya jika selalu ter-update (iya khan?) \n\nKetika suatu teknologi tidak diupdate biasanya akan mulai banyak masalah, maka dari itu disini saya menjamin materi/kelas yang dibuat **akan selalu di perbaharui setiap saat**."
  - image_path: assets/images/features/online-meet.png
    title: "Private on/off-line class"
    alt: "online-meet"
    excerpt: "Mengikuti Kelas/Tutorial online masih gak cukup atau malu bertanya di gruop?\n\nTemen-temen juga bisa mengajukan private class one-on-one training secara on/offline"
    url: "/pages/private-class/"
    btn_label: "Mulai kelas private"
    btn_class: "btn--primary"
feature_roadmap:
  - image_path: assets/images/features/roadmap.png
    alt: "Journey your career path"
    title: "Journey your career path"
    excerpt: "Temen-temen akan **lebih mudah** dalam mempelajari suatu teknologi jika dipandu dengan arahan yang jelas serta lengkap (iya khan?). \n\nBagaimana jika materi yang disajikan secara detail dibuat untuk pemula hinga mahir dan job-oriented? **You've come to the right place!**"
    url: "/pages/roadmaps/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_hands-on:
  - image_path: assets/images/features/tugas.png
    alt: "assignments"
    title: "Coding assignments"
    excerpt: "Membaca dan Menonton Video tutorials adalah langkah awal perjalanan temen-temen. Untuk memahami secara keseluruhan temen-temen diharapkan/harus mengerjakan Latihan soal yang di sertakan pada setiap materi yang diberikan. \n\nThis is active learning! the key is **Watch. Learn. Do. Learn.**"
---

{% include feature_row id="feature_roadmap" type="left" %}

{% include feature_row id="feature_hands-on" type="right" %}

{% include feature_row id="feature_row" %}

</br>

{% include video id="TtfwvbyWQMo" provider="youtube" %}