---
layout: home
author_profile: true
tagline: "Your Clear Path to **Becoming a Successful**, Learn through online classess and guided Roadmaps. Level up your skill and jumpstart your career"
header:
  overlay_image: "/assets/images/welcome-pages.jpg"
  overlay_filter: 0.7
  caption: "Tutorial & Dokumentasi: Programming, DevOps, GitOps, Database, & Servers"
  actions:
    - label: "Start learning"
      url: "https://www.udemy.com/user/dimas-maryanto-2"
pagination:
    enabled: false
classes: wide
feature_row:
  - image_path: assets/images/features/group-tanya-jawab.png
    alt: "tanya-jawab"
    title: "Group tanya-jawab"
    excerpt: "Pada saat pertama kali menggunakan suatu teknologi temen-temen sering merasa binggung? atau bahkan begitu mencoba terjadi error (iya khan?). \n\nNah disini pentingnya bertanya ke komunitas/instruktur, ada pepatah **malu bertanya tersesat dijalan** setuju gak?.\n\n**Temen-temen boleh bertanya apapun** mulai dari jenjang karir, troubleshooting jika terjadi error, saran dan lain-lain. :)"
  - image_path: assets/images/features/menarik.png
    alt: "materi-terupdate"
    title: "Materi Lengkap & Terkini"
    excerpt: "Perkembangan suatu teknology sangatlah cepat, alangkah baiknya jika selalu ter-update (iya khan?) \n\nKetika suatu teknologi tidak diupdate biasanya akan mulai banyak masalah, maka dari itu disini saya menjamin materi/kelas yang dibuat **akan selalu di perbaharui setiap saat**."
  - image_path: assets/images/features/online-meet.png
    title: "Private on/off-line class"
    alt: "online-meet"
    excerpt: "Mengikuti Kelas/Tutorial online masih gak cukup atau malu bertanya di gruop?\n\nTemen-temen juga bisa mengajukan private class one-on-one training secara on/off-line"
    url: "/pages/private-class/"
    btn_label: "Booking kelas private"
    btn_class: "btn--primary"
feature_roadmap:
  - image_path: assets/images/features/roadmap.png
    alt: "Journey your career path"
    title: "Journey your career path"
    excerpt: "Temen-temen akan **lebih mudah** dalam mempelajari suatu teknologi jika dipandu dengan arahan yang jelas serta lengkap (iya khan?). \n\nBagaimana jika materi yang disajikan secara detail dibuat untuk pemula hinga mahir dan job-oriented? **You've come to the right place!**"
    url: "/pages/roadmaps/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_hands-on:
  - image_path: assets/images/features/tugas.png
    alt: "assignments"
    title: "Coding assignments"
    excerpt: "Membaca dan Menonton Video tutorials adalah langkah awal perjalanan temen-temen. Untuk memahami secara keseluruhan temen-temen diharapkan/harus mengerjakan Latihan soal yang di sertakan pada setiap materi yang diberikan. \n\nThis is active learning! the key is **Watch. Learn. Do. Learn.**"
qna_list:
  - question: "Apa itu Premium members class?"
    answer: ""
  - question: "Apasih benefit yang didapatkan jika bergabung ke Premium members?"
    answer: ""
  - question: "Bagaimana cara bergabung dengan Premium members?"
    answer: ""
author_badges:
  - name: "Nutanix Certified Professional - Multicloud Infrastructure v6.5" 
    embed_code: '<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="032a1618-bc43-43f1-a89e-2c1d5182a95e" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>'
    excerpt: "Recipients of the NCP-MCI badge have demonstrated their skills and abilities in deploying, administering, and troubleshooting a Nutanix AOS 6.x based multicloud infrastructure."
  - name: "Nutanix Certified Associate v6.5" 
    embed_code: '<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1d80ea25-175b-4910-9e27-872c1912f608" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>'
    excerpt: "The Nutanix Certified Associate (NCA) exam tests candidates on their skills and abilities navigating a Nutanix `AOS 6.xx` cluster as well as managing and operating Nutanix core offerings."
  - name: "Gitlab Solution Architect Core"
    embed_code: '<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d4e996d3-193a-49ca-8163-5b0d54352b43" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>'
    excerpt: "Individuals who have completed this pre-sales technical foundational training are able to explain the fundamentals of demonstrating, deploying, integrating and optimizing GitLab solutions."
  - name: "Nutanix Certified Sales Representative" 
    embed_code: '<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="345707fa-2b96-4872-a5bb-4d16fcfd3d42" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>'
    excerpt: "Recipients of the `NCSR 2022` badge have demonstrated their ability to speak to and address a customer's pain points and needs using solutions from the Nutanix portfolio of products and features."
---

<h2>Bangun karirmu sebagai Proffesional</h2>
</br>

{% include feature_row id="feature_roadmap" type="left" %}

{% include feature_row id="feature_hands-on" type="right" %}

<h2>Kenapa belajar disini Berbeda?</h2>
</br>

{% include feature_row id="feature_row" %}

<h2>Instruktur bersertifikat</h2>
Berikut adalah beberapa Certifikat yang instruktur peroleh dari berbagai Exam/Test yang berlaku secara global: 
</br><br>

{% include feature_row id="author_badges" %}

<h2>QnA?</h2>
</br>

{% include accordion list="qna_list" %}
