{% if include.cource_name %}
  {% assign cource_name = page[include.cource_name] %}
{% else %}
  {% assign cource_name = page.key %}
{% endif %}

{% assign cource = site.cources | where: 'key', cource_name | first %}

{% if cource.catalogs %}
    {% for catalog in cource.catalogs %}
    {% assign posts = site.posts | where: 'lang', cource_name | where: 'catalog_key', catalog.key | sort: date %}
<div class="accordion-container">
    <div class="acordion-item">
        <input type="checkbox" id="content{{forloop.index}}">
        <label class="acordion-item-label" for="content{{forloop.index}}">{{ catalog.name }}</label>
        <div class="acordion-item-content">
            <ul>
              {% for post in posts %}
              <li>
                <a href="{{ post.url | relative_url }}">
                  <span class="acordion-item-content-title">
                    <i class="far fa-{% if post.youtube %}file-video{% else %}file-alt{% endif %}" aria-hidden="true"></i>
                    {{ post.title }}
                  </span>
                  {% if post.read_time %}
                    {% assign words_per_minute = post.words_per_minute | default: site.words_per_minute | default: 200 %}
                    {% assign words = post.content | strip_html | number_of_words %}
                    <span class="page__meta-readtime">
                      <i class="far fa-fw fa-clock" aria-hidden="true"></i>
                      {% if words < words_per_minute %}
                        {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
                      {% elsif words == words_per_minute %}
                        1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
                      {% else %}
                        {{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
                      {% endif %}
                    </span>
                  {% endif %}
                </a>
              </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>
    {% endfor %}
{% else %}

{% endif %}