{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}
  <hr>
  {% endif %}

  {% if page.udemy %}
    {% assign cource = page %}
  {% elsif page.lang %}
    {% assign cource = site.cources | where: 'key', page.lang | first %}
  {% else %}
    {% assign cource = nil %}
  {% endif %}

  {% if cource.udemy.release == true %}
    <nav class="toc">
      <header>
        <h4 class="nav__title">
          <i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> 
          Udemy class
        </h4>
      </header>
      <ul class="toc__menu">
        <li>
          {% if cource.header.teaser %}
            <img src="{{ cource.header.teaser | relative_url }}"
                 alt="{% if cource.header.caption %}{{ cource.header.caption }}{% endif %}">
          {% endif %}
        </li>
        <li class="text-right">
          <del class="udemy-price-del">{{ cource.udemy.price }}</del> 
          <span class="udemy-price-discount">{{cource.udemy.discount}}</span>                  
        </li>
        <li class="text-right udemy-expired-time">
            <i class="far fa-clock" aria-hidden="true"></i>
            expired until {{cource.udemy.expired}}
        </li>
        <br>
        <li>
          <a href="{{cource.udemy.url}}" class="btn btn--large btn--success udemy-btn-buy" target="_blank">Buy this cource</a>
        </li>
      </ul>
    </nav>
  {% endif %}

  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  
  {% if page.sidebar_toc %}
  <nav class="toc">
    <header>
      <h4 class="nav__title">
        <i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> 
        {{ page.toc_label | default: "On this page" }}
      </h4>
    </header>
    {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
  </nav>
  {% endif %}

  {% if page.show_cource_content %}
    <hr>
    {% assign language = page.lang | default: page.key %}
    {% assign collection = site.cources | where: 'key', language | first %}
    {% if collection.catalogs %}
      <h3>Cource Content</h2>
      {% for catalog in collection.catalogs %}
        {% assign children = site.posts | where: 'lang', language | where: 'catalog_key', catalog.key | sort: date %}
        {% include collection_list nav=catalog sub_nav=children %}
      {% endfor %}
      
    {% endif %}
  {% endif %}
  </div>
{% endif %}

