input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 0.2em;
    }
  }
}

.acordion-item-content ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: medium;
  padding-inline-start: 0px;
}

/* Accordion styles */
.accordion-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  font-size: medium;
}

.acordion-item {
  width: 100%;
  color: $text-color;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $code-background-color;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($code-background-color, 10%);
    }
    &::after {
      content: "\276F";
      width: 0.3em;
      height: 0.3em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $text-color;
    background: $background-color;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $background-color;
    cursor: pointer;
    &:hover {
      background: darken($background-color, 10%);
    }
  }
}

// :checked
input:checked {
  + .acordion-item-label {
    background: darken($background-color, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .acordion-item-content {
    max-height: 100vh;
    padding: 1em;
  }
}
